.env
_oldenv/*
__pycache__/*
.deepeval/*
.pytest_cache/*
.deepteam/*
.vscode/*
cb_their_aper/*
cb_tmy_paper/*
checkpoints/*
./datasets*
./datasets*/*
emnlp/*
inpapemnlp/*
logs/*
models/*
out/*
slurmuri*/*
slurmuri*
*.slurm
train/marta/*
train/marta_corrected/*
train/parquets_oldqwen/*
train/sorry/*
train/sorry_corrected/*
train/*.parquet
*.parquet
*.jsonl
venv
wicai24-Jailbreak-Datasets/*
*.sif
*/*.sif
*/*/*.sif
hf_token
keys
*.kdl
R
pec
receive_*
send_*
send
x
yeet
z_metrix
*.tmp
*.zip
*.log
_test_*.pylocal/vmfunc/4chan-pol-extensive.csv
